<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>423787838818-0famitb23e2vbbc73hatun86dvp2oaoj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.423787838818-0famitb23e2vbbc73hatun86dvp2oaoj</string>
	<key>API_KEY</key>
	<string>AIzaSyAbkH1dwyOCKCrxtKXU3VUSc-1Y9E63C-k</string>
	<key>GCM_SENDER_ID</key>
	<string>423787838818</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mezalabs.thrivebynightdev</string>
	<key>PROJECT_ID</key>
	<string>thrivebynightdev-866d3</string>
	<key>STORAGE_BUCKET</key>
	<string>thrivebynightdev-866d3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:423787838818:ios:95fa39a10b6ef5cdefc03b</string>
</dict>
</plist>